services:
  # database service
  db:
    image: postgres
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U academy -d electricity"]
      interval: 3s
      timeout: 5s
      retries: 3
    environment:
      POSTGRES_USER: academy
      POSTGRES_PASSWORD: academy
      POSTGRES_DB: electricity
    build:
      context: ./db
      dockerfile: Dockerfile
    ports:
      - 5432:5432

  # adminer service for DB management
  adminer:
    image: adminer
    restart: always
    ports:
      - 8090:8080

  # backend service
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: academy
      DB_PASSWORD: academy
      DB_NAME: electricity
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy

  # frontend service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8080:80
    depends_on:
      - backend
