version: "3.1"
services:
  # database service
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: academy
      POSTGRES_PASSWORD: academy
      POSTGRES_DB: electricity
    build:
      context: ./db
      dockerfile: Dockerfile
    ports:
      - 5432:5432
    # probs need volumes

  # adminer service for DB management
  adminer:
    image: adminer
    restart: always
    ports:
      - 8090:8080

  # backend service
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - db

  # frontend service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8080:80
    depends_on:
      - backend
