@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  /* Reset default margin and padding */
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.nav-link {
  margin-right: 1rem;
  font-weight: bold;
}

main {
  flex: 1;
  padding: 2rem;
  margin-inline: auto;
}

footer {
  padding: 1rem;
  background-color: #f9f9f9;
}
