@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  /* global color palette */
  --container-bg: #ffffff;
  --page-bg: #f9fafb;

  --color-primary: #2563eb;
  --color-primary-light: #eff6ff;
  --color-primary-hover: #1d4ed8;

  --success: #16a34a;
  --danger: #dc2626;

  --subtle-border: #e5e7eb;
}

body {
  /* Reset default margin and padding */
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--page-bg);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  padding: 1rem;
  background-color: var(--container-bg);
}

.nav-link {
  margin-right: 1rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 2rem;
  margin-inline: auto;
}

footer {
  padding: 1rem;
  background-color: var(--page-bg);
}
